[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/QHotkey"]
	path = extern/QHotkey
	url = https://github.com/Skycoder42/QHotkey
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
